
{%include 'sitio/cabecera.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


    


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3"><center> Mantenimiento Electro Mecánico Del Automóvil</center></h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="/">Inicio</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Mantenimiento Electro Mecánico Del Automóvil</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-8">
                    <img class="img-fluid w-80 rounded mb-5" src="img/Automotriz.jpeg" alt="">
                    <h1 class="text-uppercase mb-4"><center>Objetivo</center></h1>
                    <p>Ofrecer una red amplia y estructurada de servicios de formación para el trabajo en el campo del Mantenimiento Electromecánico del Automóvil, para atender flexiblemente los intereses de la persona/estudiante, 
                        quien podrá estructurar rutas personales de formación para elegir uno o más trayectos formativos, diseñados con la finalidad de responder a las demandas del contexto económico, productivo, social y educativo,
                         optimizando con ello las posibilidades diferenciales de inserción de la persona/estudiante en dicho contexto.</p>
             
                        <h1 class="text-uppercase mb-4"><center>Enfoque Educativo</center></h1>
                                <p>Enfoque de Competencias Integrales</p>

                                <h1 class="text-uppercase mb-4"><center>Especificación de cursos</center></h1>
                        <p>Esta especialidad oferta cursos regulares en los niveles básico, medio y avanzado, así como módulos del componente de formación para el trabajo</p>
                            

                        <h1 class="text-uppercase mb-4"><center>Certificación académica</center></h1>
                        <p>El diploma se obtiene cuando el estudiante acredita en su totalidad las competencias que integran los cursos de la especialidad, ya sea por formación presencial, en línea o Reconocimiento Oficial de la Competencia Ocupacional 
                            (ROCO) y de acuerdo a los lineamientos establecidos en el Manual de Procedimientos de Control Escolar</p>
                            
                            <h1 class="text-uppercase mb-4"><center>Certificación laboral</center></h1>
                            <p>El certificado de competencia laboral se obtiene cuando el candidato acredita un estándar de competencias, a través de un proceso de evaluación con fines de certificación ante un Organismo 
                                Certificador, reconocido por el Consejo Nacional de Normalización y Certificación de Competencias Laborales (CONOCER).</p>

                                <h1 class="text-uppercase mb-4"><center>Sitios de inserción</center></h1>
                                <p>Las principales fuentes de empleo son: Empresas dedicadas a la rama automotriz, empresas públicas y privadas dedicadas a la producción y comercialización de bienes o de servicios de reparación automotriz, su propia empresa, concesionarios automotrices, 
                                    talleres de reparación de vehículos, talleres de mantenimiento a flotas de diversas empresas, estaciones de servicio automotriz, empresas de transporte, concesionarios de marca, talleres de servicio técnico automotriz y plantas de revisión técnica automotriz.</p>

                </div>
                <!-- Division -->
                <div class="tituloseccion ancho">
      
           
                    <div class="detalleseccion"></div>
                  </div>
              
                 
              


            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
          
                <!-- Search Form End -->

                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Otros Cursos</h3>
                    <div class="d-flex flex-column justify-content-start bg-light p-4">
                        <a class="h6 text-uppercase mb-4" href="/Estilismo y Diseño De Imagen"><i class="fa fa-angle-right me-2"></i>Estilismo y Diseño De Imagen</a>
                        <a class="h6 text-uppercase mb-4" href="/USO DE LA LENGUA INGLESA EN DIVERSOS CONTEXTOS"><i class="fa fa-angle-right me-2"></i>USO DE LA LENGUA INGLESA EN DIVERSOS CONTEXTOS</a>
                        <a class="h6 text-uppercase mb-4" href="/Informatica"><i class="fa fa-angle-right me-2"></i>Informatica</a>
                        <a class="h6 text-uppercase mb-4" href="/SOPORTE A INSTALACIONES ELECTRICAS Y MOTORES ELECTRICOS"><i class="fa fa-angle-right me-2"></i>SOPORTE A INSTALACIONES ELECTRICAS Y MOTORES ELECTRICOS</a>
                        <a class="h6 text-uppercase mb-4" href="/CAED"><i class="fa fa-angle-right me-2"></i>CAED</a>
                    </div>
                </div>
        

<!-- Image Start -->
<div class="mb-5">
  <center>  <img src="img/logo.jpg" alt="" class="img-fluid rounded"></center>
</div>
<!-- Image End -->

<!-- Tags Start -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4"><center>Niveles de Mantenimiento Electro Mecánico Del Automóvil</center></h3>
    <div class="d-flex flex-wrap m-n1">
        <a class="btn btn-outline-dark m-1">Mecánica de Emergencia</a>
        <a class="btn btn-outline-dark m-1">Diagnóstico del Motor</a>
        <a class="btn btn-outline-dark m-1">Mantenimiento a Motores de Combustión Interna con control electronico</a>
        <a class="btn btn-outline-dark m-1">Mantenimiento al sistema de transmision manual y automatica </a>
        <a class="btn btn-outline-dark m-1">Mantenimiento al sistema de suspension </a>
        <a class="btn btn-outline-dark m-1">Mantenimiento al sistema de embrague hidraulico</a>
        <a class="btn btn-outline-dark m-1">Mantenimiento al sistema de direccion </a>
        <a class="btn btn-outline-dark m-1">Mantenimiento al sistema de frenos </a>
        <a class="btn btn-outline-dark m-1">Afincacion de motores a gasolina </a>

    </div>
</div>
</div>
<!-- Tags End -->

            <!-- Blog Detail Start -->
    
            <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
                <div class="position-relative portfolio-box">
                    <img class="img-fluid w-100" src="img/Automotriz.jpeg" alt="">
                       <center > <i class="fa fa-car text-primary me-2"></i></span></center>
                    </a>
                    <a class="portfolio-btn" href="img/Automotriz.jpeg" data-lightbox="portfolio">
                        <i class="bi bi-plus text-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
                <div class="position-relative portfolio-box">
                    <img class="img-fluid w-100" src="img/Automotriz2.jpeg" alt="">
                        <center > <i class="fa fa-tools text-primary me-2"></i></span></center>
                    </a>
                    <a class="portfolio-btn" href="img/Automotriz2.jpeg" data-lightbox="portfolio">
                        <i class="bi bi-plus text-white"></i>
                    </a>
                </div>

        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/Automotriz3.jpeg" alt="">
           
                    <center > <i class="fa fa-toolbox text-primary me-2"></i></span></center>
                </a>
                <a class="portfolio-btn" href="img/Automotriz3.jpeg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
    </div>
</div>
              
     
            </div>
            <!-- Sidebar End -->
        </div>
    </div>

    
        
    <!-- Blog End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            </div>
        </div>
    </div>
    <!-- Footer End -->
    


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
{%include 'sitio/pie.html' %}


