{%include 'sitio/cabecera.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Conocenos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


    


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Quienes Somos</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="/">Inicio</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Nosotros</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Blog Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-8">
                    <img class="img-fluid w-80 rounded mb-5" src="img/Equipo.jpg" alt="">
                    <h1 class="text-uppercase mb-4"><center>Política de calidad</center></h1>
                    <p>El CECATI N° 131 tiene la responsabilidad de proporcionar servicios de calidad 
                        certificada en capacitación para y en el trabajo, cumpliendo con las necesidades y 
                        satisfacción de nuestros clientes y usuarios, promoviendo siempre la mejora continua 
                        mediante un sistema de gestión de la calidad, procurando siempre los valores y 
                        creencias de nuestra sociedad </p>
             
                        <h1 class="text-uppercase mb-4"><center>Mision</center></h1>
                        <p>Formar permanentemente a las personas para y en el trabajo de la región contribuyendo a su desarrollo humano e inserción en el mercado laboral,
                             coadyuvando así al desarrollo social y económico del país, a través de una estructura de servicios flexible, equitativa, de calidad y pertinente</p>
                            <h1 class="text-uppercase mb-4"><center>Vision</center></h1>
                            <p>Ser una institución reconocida a nivel regional y nacional por la excelencia de su servicio educativo, sustentada en el compromiso de sus trabajadores, 
                                que contribuye al desarrollo del país proporcionando una mejor sociedad y fortalecimiento su economía, a través de formar para el trabajo a las personas 
                                bajo principios de equidad, calidad y pertinencias  </p>

                </div>
                <!-- Division -->
                <div class="tituloseccion ancho">
      
           
                    <div class="detalleseccion"></div>
                  </div>
              
                 
              


            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
          
                <!-- Search Form End -->

                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Categorias</h3>
                    <div class="d-flex flex-column justify-content-start bg-light p-4">
                        <a class="h6 text-uppercase mb-4" href="https://www.facebook.com/CecatiMatehuala"><i class="fa fa-angle-right me-2"></i>Pagina Facebook</a>
                        <a class="h6 text-uppercase mb-4" href="http://www.dgcft.sems.gob.mx/buscador_cecati/plantel/37"><i class="fa fa-angle-right me-2"></i>Mas informacion de la institución</a>
                        <a class="h6 text-uppercase mb-4" href="mailto:cecati131.dir@dgcft.sems.gob.mx"><i class="fa fa-angle-right me-2"></i>Enviar Correo Electrónico</a>
                        <a class="h6 text-uppercase mb-4" href="http://www.dgcft.sems.gob.mx/?fbclid=IwAR0hQGoqq9OW_wYNvxVQ46QlZQZNrKYfW0DP7cnzDfVQsAcXnBtsu6e7wCE"><i class="fa fa-angle-right me-2"></i>DGCFT</a>
                    </div>
                </div>
           
<!-- Image Start -->
<div class="mb-5">
  <center>  <img src="img/logo.jpg" alt="" class="img-fluid rounded"></center>
</div>
<!-- Image End -->

<!-- Tags Start -->
<div class="mb-5">
    <h3 class="text-uppercase mb-4">Valores </h3>
    <div class="d-flex flex-wrap m-n1">
        <a  class="btn btn-outline-dark m-1">Conocer</a>
        <a class="btn btn-outline-dark m-1">Implementar</a>
        <a class="btn btn-outline-dark m-1">Competencia</a>
        <a class="btn btn-outline-dark m-1">Proceso</a>
        <a class="btn btn-outline-dark m-1">Evaluación</a>
        <a class="btn btn-outline-dark m-1">Preparación</a>
        <a class="btn btn-outline-dark m-1">Formación</a>
        <a class="btn btn-outline-dark m-1">Desarrollar</a>
        <a class="btn btn-outline-dark m-1">Investigar</a>
        <a class="btn btn-outline-dark m-1">Leer</a>
        <a class="btn btn-outline-dark m-1">Consultar</a>
        <a class="btn btn-outline-dark m-1">Verificar</a>
    </div>
</div>
<!-- Tags End -->
              
     
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Footer End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 px-5">
        <div class="text-center mx-auto mb-3" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">Conoce a nuestro <span class="text-primary">Equipo de</span> Trabajo</h1>
        </div>
        <div class="row g-3">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/omar.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Omar Netzahualcóyotl Martínez Flores</center> </h4>
                            <span><center>Jefatura de Capacitación del CECATI 131</center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Faustina.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                    
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Faustina Díaz Díaz</center></h4>
                            <span><center>Jefatura de Vinculación del CECATI 131</center></span>
                  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Veronica.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                      
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center> Verónica Rodríguez Hernández</center></h4>
                            <span><center>Jefatura de Servicios Administrativos del CECATI 131</center></span>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Departamento1.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                          
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><Center> Departamento1 </Center></h4>
                            <span><center>Oficinas</center></span>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 px-5">
        <div class="text-center mx-auto mb-3" style="max-width: 600px;">

        </div>
        <div class="row g-3">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Recursos.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Recursos Financieros </center> </h4>
                            <span><center>Recursos Financieros</center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Oficina.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                    
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center> Herbert Rodriguez Vicente </center></h4>
                            <span><center>Oficinas</center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Auxiliar.JPG" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                      
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center> Sanchez Flores Matilde </center></h4>
                            <span><center> Auxiliar </center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Secretaria2.JPG" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                          
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><Center> Secretaria</Center></h4>
                            <span><Center>Recursos Humanos</Center></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Team End -->

    

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <div class="container-fluid py-5 px-5">
        <div class="text-center mx-auto mb-3" style="max-width: 600px;">

        </div>
        <div class="row g-3">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/MecanicaP.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center> Beltran Peña Cesar Jose </center> </h4>
                            <span><center>Maestro de mecanica </center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/InformaticaP.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                    
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Peña Ramos Leon </center></h4>
                            <span><center>Maestro de informatica</center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/EstilimoM.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                      
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center> Sandoval Rodriguez Marissa </center></h4>
                            <span><center> Maestra de Estilismo </center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/ElectronicaP.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                          
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Celaya Corpus Sergio</center></h4>
                            <span><center>Maestro de Electricidad  </center></span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 px-5">
        <div class="text-center mx-auto mb-3" style="max-width: 600px;">

        </div>
        <div class="row g-3">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/almacenissta.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Perez Santiago Wilfrido De Jesus</center> </h4>
                            <span><center>Almacenista</center></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="row g-0">
                    <div class="col-10" style="min-height: 300px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="img/Ayudante.jpg" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="h-0 d-flex flex-column align-items-center justify-content-between bg-light">
                    
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-light p-4">
                            <h4 class="text-uppercase"><center>Loera Molina Jesus</center></h4>
                            <span><center>Ayudante</center></span>
                        </div>
                    </div>
                </div>
            </div>

                        </div>
                    </div>
                   
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    

</body>

</html>
{%include 'sitio/pie.html' %}